        .main {
            vertical-align: middle; /*Vertically centered*/
            text-align: center; /* Horizontally centered */
            height: 600px;
            width: 1000px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -500px;
            margin-top: -300px;
            background: white;
        }
        body {
            background-image: url('../img/polygon.jpg'); <!-- from: https://all-free-download.com/free-vector/connection.html --!>
        }